//
body{
    margin: auto;
    text-align: center;
    .logo{
        height: 250px;
        padding: 0;
    }
}
.d_flex{display: flex;}
.wrap{flex-wrap: wrap }
.active{
    color: #00275d;
    border-bottom: 4px solid #00275d;
}

nav{
    line-height: 65px;
    background-color: #b1d281;
    color: white;
    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: larger;
        text-transform: uppercase;
        padding: 0 5px;
    }
}

section{
    background-image: url('../img/fondo-pag-speciali.jpg');
    justify-content: center;
    flex-direction: column;
    color: #00275d;
    text-shadow: 1px 0.5px 0px #ffff;
    img{
        width: calc(90% / 3);
        padding: 30px 30px
    }
}